<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <style>
        .container{
            text-align: center;
        }
    </style>
    <title>Home</title>
</head>
<body>

    <%-include('partials/header')%>
    
    <main class="container-principal">
        
        <div class="container">
            <div class="title">
                <h1>Ocorreu um erro, tente novamente</h1>
                <h1>Erro 404</h1>
                <p><%=error%></p>
            </div>
        </div>
    </main>

</body>
</html>