<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Home</title>
</head>
<body>

    <%-include('partials/header')%>
    
    <main class="container-principal">
        
        <div class="container">
            <div class="title">
                <h1>Inscreva-se ou Entre em sua conta</h1>
            </div>

            <div class="data-user">
                <div class="img-user">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/></svg>
                </div>
                <div class="name-user">
                    <%if(userName){%>
                        <h2>Seja bem vindo, 
                            <span>
                                <%=userName%> 
                                <span></span> <!--icone online-->
                            </span>
                        </h2>
                        <div>
                            <a href="/desconect" class="btn-desconect">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M288 256C288 273.7 273.7 288 256 288C238.3 288 224 273.7 224 256V32C224 14.33 238.3 0 256 0C273.7 0 288 14.33 288 32V256zM80 256C80 353.2 158.8 432 256 432C353.2 432 432 353.2 432 256C432 201.6 407.3 152.9 368.5 120.6C354.9 109.3 353 89.13 364.3 75.54C375.6 61.95 395.8 60.1 409.4 71.4C462.2 115.4 496 181.8 496 255.1C496 388.5 388.5 496 256 496C123.5 496 16 388.5 16 255.1C16 181.8 49.75 115.4 102.6 71.4C116.2 60.1 136.4 61.95 147.7 75.54C158.1 89.13 157.1 109.3 143.5 120.6C104.7 152.9 80 201.6 80 256z"/></svg>
                            </a>
                        </div>
                    <%}else{%>
                        <h2>Entre na sua conta</h2>
                    <%}%>
                </div>
            </div>

            <div class="links">
                <a href="/user/register">Inscrever-se</a>
                <a href="/user/login">Entrar</a>
            </div>
        </div>
    </main>

    <script>
        const user = document.getElementById('user').innerHTML = selectedUser.name
    </script>
</body>
</html>